body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('imgs/mushroom-wonderland.jpeg');
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

h1 {
    color: #420202;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#game-container {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background-color: #dedadad8;
    border: 1px solid #CCC;
    overflow: hidden;
}

#basket {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('imgs/basket.png'); 
    bottom: 0;
    background-size: 150%;
    background-position: center;
    margin: 0 auto; 
    transform: translateX(-50%);
}



.falling-object {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: fall 2s linear;
}


#falling-object {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid red;
    animation: fall 2s linear;
}


#score {
    margin: 10%;
    box-sizing: border-box;
    display: inline-block;
    padding: 30px;
    position: absolute;
    right: 0;
    font-size: 20px;
    color: #333;
    background-color: whitesmoke;
}
@keyframes fall-level3 {
    0% {
        top: -50px; /* Adjust this value to control the initial position */
    }
    100% {
        top: 550px; /* Adjust this value to control the falling speed */
    }
}

.falling {
    animation: fall-level3 2s linear;
}
